body {
  font-family: "Nunito", sans-serif;
  color: #5a5959;
}

a {
  color: #49b5e7;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.main_bg {
  width: 100%;
  height: 100vh;

  background: url(../img/bg.svg);

  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.tab_btn {
  text-align: center;
}

.iner_main {
  box-sizing: border-box;
}
.tabs-wrap {
  margin-top: 40px;
}
.tab-content .tab-pane {
  padding: 20px 0;
}
.tab_footer {
  line-height: 1;
  color: #464646;
  font-size: 14px;
  text-align: center;
  padding-top: 10;
  padding-bottom: 10px;
}

.tab_img {
  height: 260px;
  object-fit: contain;
  object-position: center;
  transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  width: 100%;
  margin: 0;
}

.tab_head {
  line-height: 1;
  color: #2967ae;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.tab_subhead {
  line-height: 1;
  color: #464646;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.tab_par {
  line-height: 1;
  color: #464646;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

.nav-tabs {
  background-color: #e8f4ff;
  border-bottom: 1px solid #ecf0f1;
}
.nav-link {
  border-bottom: 2px #000;
}

.na_1 {
  border-bottom: 4px solid #34a853;
}
.na_1 .nav-link .active,
.na_1 .nav-link.active,
.na_1 .nav-link.active:focus,
.na_1 .nav-link.active:hover,
.na_1 .nav-item.open .nav-link,
.na_1 .nav-item.open .nav-link:focus,
.na_1 .nav-item.open .nav-link:hover {
  border-bottom: 4px solid #34a853;
  background-color: #34a853 !important;
  color: #fff;
}
.na_2 {
  border-bottom: 4px solid #f7b500;
}

.na_2 .nav-link .active,
.na_2 .nav-link.active,
.na_2 .nav-link.active:focus,
.na_2 .nav-link.active:hover,
.na_2 .nav-item.open .nav-link,
.na_2 .nav-item.open .nav-link:focus,
.na_2 .nav-item.open .nav-link:hover {
  border-bottom: 4px solid #f7b500;
  background-color: #f7b500 !important;
  color: #fff;
}

.na_3 .nav-link .active,
.na_3 .nav-link.active,
.na_3 .nav-link.active:focus,
.na_3 .nav-link.active:hover,
.na_3 .nav-item.open .nav-link,
.na_3 .nav-item.open .nav-link:focus,
.na_3 .nav-item.open .nav-link:hover {
  border-bottom: 4px solid #f39150;
  background-color: #f39150 !important;
  color: #fff;
}
.na_3 {
  border-bottom: #f39150 4px solid;
}

.na_4 .nav-link .active,
.na_4 .nav-link.active,
.na_4 .nav-link.active:focus,
.na_4 .nav-link.active:hover,
.na_4 .nav-item.open .nav-link,
.na_4 .nav-item.open .nav-link:focus,
.na_4 .nav-item.open .nav-link:hover {
  border-bottom: 4px solid #e02323;
  background-color: #e02323 !important;
  color: #fff;
}

.na_4 {
  border-bottom: #e02323 4px solid;
}

.btn-primary {
  color: #fff;
  background-color: #135cb0;
  border-color: #135cb0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.tab_vis {
  display: block;
}

@media only screen and (max-width: 900px) {
  .tab_vis {
    display: none;
  }
  .main_bg {
    overflow: hidden;
  }
}

.tab_btn button {
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px 30px;
}

.tab_btn {
  padding-top: 20px;
}
